.filter-options {
	display: flex;
	justify-content: center;
  }
  .filter-item {
	font-size: 18px;
	margin-right: 36px;
	border: none;
	padding: 9px 13px;
	background: #fccf47;
	border-radius: 100px;
	color: #fff;
	cursor: pointer;
  }