.filter-options {
  display: flex;
  justify-content: center;
}
.filter-item {
  font-size: 18px;
  margin-right: 36px;
  border: none;
  padding: 9px 13px;
  background: #fff;
  border-radius: 100px;
  border: 1px solid #fccf47;
  cursor: pointer;
}

.active {
  background: #fccf47;
  color: #fff;
}
