:host {
  flex: 1 1 auto;
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto; */
  display: flex;
  overflow: auto;
}

.img-container {
  flex-basis: 50%;
  margin-block: 2rem;
  background-image: url("src/assets/images/image 2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

form {
  margin-left: 20px;
  flex-basis: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

form {
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  background: #e3e3e3;
  border-radius: 7.5px;
  border: none;
  padding: 1.25rem;
  min-width: 300px;
}

.submit-button {
  background: #1795a8;
  border-radius: 10px;
  color: #fff;
  border: none;
  margin-top: 2rem;
  padding: 1rem 5rem;
  font-weight: 600;
  font-size: 1.25rem;
  cursor: pointer;
}
