<div class="text">
	<h3>Приватність є важливою для нас. У цьому документі ми пояснюємо, яку інформацію ми збираємо від вас та як ми
		використовуємо цю інформацію.</h3>
	<ol>
		<li>Збір і використання інформації
			Ми можемо збирати різні типи інформації від користувачів з метою забезпечення та покращення наших послуг.
			<ul>
				<li>Коли ви використовуєте нашу платформу, ми можемо збирати анонімну статистичну інформацію про ваші
					взаємодії з системою.</li>
				<li>Якщо ви надсилаєте нам запити або звертаєтеся до нашої служби підтримки, ми можемо збирати вашу
					контактну
					інформацію для забезпечення відповіді на ваше звернення.</li>
			</ul>
		</li>
		<li>Збереження і захист інформації.<br>
			Ми докладаємо всіх зусиль для збереження безпеки вашої інформації та захисту її від несанкціонованого
			доступу або використання.</li>
		<li>Використання файлів cookie<br>
			Ми можемо використовувати файли cookie та подібні технології для поліпшення користувацького досвіду та збору
			інформації про використання нашої платформи. Ви можете налаштувати свій браузер таким чином, щоб відмовитися
			від використання файлів cookie, але це може вплинути на функціональність деяких частин платформи.</li>
		<li>Розкриття інформації третім сторонам<br>
			Ми не розкриваємо вашу особисту інформацію третім сторонам, за винятком випадків, передбачених законом або
			якщо ми отримали вашу згоду.</li>
		<li>Зміни до політики конфіденційності<br>
			Ми можемо оновлювати цю політику конфіденційності з часом. Будь ласка, періодично переглядайте цей документ,
			щоб бути в курсі наших практик конфіденційності.</li>
	</ol>

</div>
<a href="" class="button">На головну</a>