:host {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border: 1px solid #777777;
  border-radius: 7.6793px;
  padding: 1rem 1.8rem;
  width: 100%;
}

.tags {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tag-button {
  display: inline-block;
  padding: .6rem 1rem;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 100px;
  border: none;
}

.selected {
  color: #fff;
  background: #fccf47;
}
.tag-input {
  display: flex;
  align-items: stretch;
  position: relative;
  gap: 2rem;
}

.dropdown{
  position: absolute;
  background-color: white;
  height: fit-content;
  top: 1.5rem;
  left: 1rem;
  border: 1px solid #adadad;
  text-align: center;
  list-style: none;
  padding: 0.3rem;
 
}
.dropdown li{
padding-block: .4rem;
border-bottom: 1px solid #adadad;
}

.tag-button:hover {
  background-color: #c4c4c4;
  border-color: #adadad;
}

.tag-field {
  border: 1px solid #777777;
  border-radius: 35px;
  width: max-content;

}

.tag-input button {
  color: #fff;
  background: #fccf47;
  padding-inline: 1rem;
}

.submit-button {
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1.25rem;
  color: #fff;
  outline: none;
  border: none;
  background: #24afc1;
  border-radius: 100px;
  padding: 1rem 5.4rem;
}

.cancel-button {
  margin-left: 2rem;
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1.25rem;
  color: #fff;
  outline: none;
  border: none;
  background: #9f9f9f;
  border-radius: 100px;
  padding: 1rem 5.4rem;
}
