<form [formGroup]="topicForm" (ngSubmit)="onSubmit()">
	<div class="form-control">
		<p>Title:</p>
		<input type="text" formControlName="title" required>
	</div>
	<div class="form-control">
		<p>Description:</p>
		<textarea formControlName="content" rows="3"></textarea>
	</div>
	<div formArrayName="tags" class="form-control tags">
		<label>Tags:</label>
		<div *ngFor="let tag of tags.controls; let i=index" class="tag">
			<label class="tag-button" [ngClass]="{'selected': tag.value}">
				<input type="checkbox" [formControlName]="i" style="display:none;">
				<fa-icon *ngIf="!tag.value" [icon]="faPlus"></fa-icon>
				<fa-icon *ngIf="tag.value" [icon]="faCheck"></fa-icon>
				{{ this.tagsList[i] }}

			</label>
		</div>
		<div class="tag-input">
			<input type="text" [(ngModel)]="newTag" [ngModelOptions]="{standalone: true}" placeholder="Add new tag"
				class="tag-button tag-field">
			<button type="button" (click)="addTag()" class="tag-field">Add Tag</button>
		</div>
	</div>
	<button type="submit" [disabled]="topicForm.invalid" class="submit-button">Post</button>
	<button class="cancel-button" [routerLink]="['/']">Cancel</button>
</form>