:host {
  flex: 1 1 auto;
  /* display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: auto; */
  display: flex;
  overflow: auto;
}

.required-field {
  color: red;
}

.img-container {
  flex-basis: 50%;
  margin-block: 2rem;
  background-image: url("src/assets/images/image 2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

form {
  margin-left: 20px;
  flex-basis: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.input {
  background: #e3e3e3;
  border-radius: 7.5px;
  border: none;
  padding: 1.25rem 0 1.25rem 0.5rem;
  width: 100%;
}

.submit-button {
  align-self: flex-end;
  justify-self: start;
  margin-bottom: 2rem;
  background: #1795a8;
  border-radius: 10px;
  color: #fff;
  border: none;
  margin-top: 2rem;
  padding: 1rem 5rem;
  font-weight: 600;
  font-size: 1.25rem;
  cursor: pointer;
  height: min-content;
}

.submit-button:disabled {
  background-color: grey;
}

textarea {
  resize: none;
  background: #e3e3e3;
  border-radius: 7.5px;
  border: none;
  padding: 1rem;
}

.is-invalid {
  border: 1px solid red;
}

.preview {
  max-height: 100px;
  width: 150px;
}

.preview img {
  max-width: 100%;
  height: auto;
}
