<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
	<div>
		<p>Ім'я</p>
		<input type="text" formControlName="firstName" [ngClass]="{ 'is-invalid': isInvalid('firstName') }">

	</div>
	<div>
		<p>Прізвище</p>
		<input type="text" formControlName="lastName">
	</div>
	<div>
		<p>Ім'я користувача</p>
		<input type="text" formControlName="username" [ngClass]="{ 'is-invalid': isInvalid('username') }">

	</div>
	<div>
		<p>Email</p>
		<input type="email" formControlName="email" [ngClass]="{ 'is-invalid': isInvalid('email') }">

	</div>
	<div>
		<p>Пароль</p>
		<input type="password" formControlName="password" [ngClass]="{ 'is-invalid': isInvalid('password') }">

	</div>
	<div>
		<p>Про себе</p>
		<textarea cols="25" rows="10" formControlName="bio"></textarea>
	</div>
	<div>
		<p>Фото</p>
		<input type="file" accept="image/png, image/jpeg" (change)="uploadFile($event)">
	</div>
	<div class="preview" *ngIf="preview && preview !== null">
		<img [src]="preview" [alt]="">
	</div>

	<button type="submit" [disabled]="registerForm.invalid" class="submit-button">Register
	</button>
</form>
<div class="img-container"></div>