<div class="header">
	<fa-icon [icon]="faLogo" [routerLink]="['/main']" class="logo"></fa-icon>
	<ng-container *ngIf="this.router.url !='/sign-in' && this.router.url !='/sign-up'">
		<div class="search-bar">
			<fa-icon [icon]="faSearch" class="search-icon"></fa-icon>
			<input type="text" class="search" placeholder="Пошук теми" (keyup.enter)="onEnter($event)">
		</div>
		<ng-container *ngIf="!user">
			<button class="sign-up" [routerLink]="['/sign-in']">Вхід</button>
		</ng-container>

		<div class="profile" *ngIf="user">
			<!-- <fa-icon [icon]="faUser"></fa-icon> -->
			<div class="user-img"><img [src]="user.profilePicture || '/assets/images/user.png'" alt="">
			</div>
			<button class="dropdown-button" (click)="onDropdownClick()">
				<fa-icon [icon]="faTriangle"></fa-icon>
			</button>
			<div [ngClass]="{'hide-menu':!showMenu}" class="menu">
				<p class="menu-item" [routerLink]="['main/user',user._id]">Профіль</p>
				<a (click)="onLogout()" class="menu-item">Вихід</a>
			</div>
		</div>
	</ng-container>
	<ng-container *ngIf="this.router.url =='/sign-in'">
		<button class="sign-up" [routerLink]="['/sign-up']">Реєстрація</button>
	</ng-container>
	<ng-container *ngIf=" this.router.url =='/sign-up'">
		<button class="sign-up" [routerLink]="['/sign-in']">Вхід</button>
	</ng-container>

</div>