<div class="header">
	<div class="search-bar">
		<fa-icon [icon]="faSearch" class="search-icon"></fa-icon>
		<input type="text" class="search" placeholder="Пошук теми" (keyup.enter)="onEnter($event)">
	</div>

	<div class="profile">
		<fa-icon [icon]="faUser"></fa-icon>
		<button class="dropdown-button" (click)="onDropdownClick()">
			<fa-icon [icon]="faTriangle"></fa-icon>
		</button>
		<div [ngClass]="{'hide-menu':!showMenu}" class="menu">
			<p class="menu-item">Профіль</p>
			<p class="menu-item">Вихід</p>
		</div>
	</div>


</div>