.title {
  font-weight: lighter;
  font-size: 1.25rem;
  margin: 1.4rem 0;
  padding-block: 0;
}
.suggestion-list {
  margin-right: 2.3rem;
}
.user {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.follow {
  color: #fff;
  background: #1795a8;
  border-radius: 5px;
  border: none;
  padding: 0.25rem 0.4rem;
}
