<div class="sidemenu">
	<div class="sidemenu-links"><a (click)="goBack()" class="sidemenu-text" *ngIf=" this.router.url !=='/main'"><fa-icon
				[icon]="faArrow"></fa-icon>Назад</a>
		<a href="" class="sidemenu-text"><fa-icon [icon]="faHome"></fa-icon>Головна</a>
	</div>

	<div class="personal-menu">
		<h5 class="sidemenu-title sidemenu-text">
			Особиста навігація
		</h5>
		<div class="sidemenu-links">
			<a class="sidemenu-text" [routerLink]="['my-topics']"><fa-icon [icon]="faPersonalQuestion"></fa-icon>Мої
				теми</a>
			<a href="" class="sidemenu-text" [routerLink]="['my-comments']"><fa-icon [icon]="faAnswers"></fa-icon>Мої
				коментарі</a>
		</div>
	</div>
</div>
<div class="content-container ">
	<router-outlet></router-outlet>
</div>
<div class="right-side">
	<button class="add-topic-button" [routerLink]="['./new-topic']"><fa-icon [icon]="faAdd"></fa-icon>Створити
		тему</button>
</div>