:host {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: minmax(0, 300px) auto minmax(0, 300px);
  position: relative;
  grid-gap: 20px;
  max-height: 90%;
}

.suggestions {
  padding: 0 60px;
}

.sidemenu {
  padding: 70px 0;
  font-size: 20px;
}

.sidemenu .menu {
  display: flex;
  flex-direction: column;
}
.sidemenu-text {
  padding-left: 60px;
  padding-block: 13px;
}

.sidemenu-title {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 20px;
  margin: 23px 0;
  padding-block: 0;
}

.sidemenu-links {
  display: flex;
  flex-direction: column;
}

.sidemenu-links a {
  display: flex;
  text-decoration: none;
  color: #555555;
}

fa-icon {
  font-size: 25px;
  padding-right: 5px;
}

.content-container {
  padding-top: 1.7rem;
  max-height: 100%;
  padding-bottom: 1rem;

}

.right-side {
  padding-top: 73px;
}

.add-topic-button {
  cursor: pointer;
  color: #fff;
  background: #1795a8;
  border-radius: 5px;
  border: none;
  font-size: 1.1rem;
  padding: 1rem 3rem;
}
