:host {
  /* flex: 1 1 auto;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: minmax(0, 250px) minmax(0, 2.5fr) minmax(0, 250px);
  position: relative;
  grid-gap: 20px;*/
  background: #ffffff;
  box-shadow: -4px -4px 16px rgba(0, 0, 0, 0.06),
    4px 4px 16px rgba(0, 0, 0, 0.06);
 display: block;
 height:  100%;
 padding: 1rem;
}
.container {
  /* grid-column: 2/3; */
  display: grid;
  grid-template-rows: max-content auto max-content;
  height: 95%;

}

.scrollable {
  overflow-y: auto;
}
.topic {
  /* display: flex; */
  position: relative;
  /* align-items: center; */
  padding-bottom: 1.2rem;
  border-bottom: 1px solid #808080;
}
fa-icon {
  color: #808080;
  font-size: 1.5rem;
}


.input-container {
  display: flex;
  align-items: center;
  height: 3.5rem;
  grid-row: 3/4;
 
}

.comment-input {
  width: 90%;
  height: 100%;
  border: none;
  background: #f5f5f5;
  border-radius: 8px;
}

.submit {
  background: #1795a8;
  border: none;
  border-radius: 50%;
  padding-inline: 0.7rem;
  height: 70%;
  margin-left: 10px;
}

.submit fa-icon {
  color: #fff;
}

.scrollable::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.scrollable::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.scrollable::-webkit-scrollbar-thumb {
  background: #d7d7d7;
}

/* Handle on hover */
.scrollable::-webkit-scrollbar-thumb:hover {
  background: #989898;
}
