:host {
  flex: 1 1 auto;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: minmax(0, 250px) minmax(0, 2.5fr) minmax(0, 250px);
  position: relative;
  grid-gap: 20px;
}
.container {
  grid-column: 2/3;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

.scrollable {
  overflow-y: auto;
  height: 50vh;
}
.topic {
  display: flex;
  position: relative;
  align-items: center;
  border-bottom: 1px solid #808080;
}
fa-icon {
  color: #808080;
  font-size: 1.5rem;
}

.vote {
  text-align: center;
  margin-right: 1rem;
}

.vote p {
  margin-block: 5px;
  font-size: 1.5rem;
}
.vote button {
  padding: 0;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

.question-text {
  margin-left: 15px;
}

.question-text h4 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.time {
  margin-top: 5px;
}

.details {
  color: #9e9e9e;
  font-size: 1.25rem;
}

.info {
  margin-left: 30px;
}

.user {
  position: absolute;
  top: 10px;
  right: 10px;
}

.comment-button {
  padding: 0;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
  min-width: 35px;
  display: flex;
  align-items: center;
}

.comment-button span {
  margin-right: 0.5rem;
}

.input-container {
  display: flex;
  align-items: center;
  height: 3.5rem;
  grid-row: 3/4;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.comment-input {
  width: 90%;
  height: 100%;
  border: none;
  background: #f5f5f5;
  border-radius: 8px;
}

.submit {
  background: #1795a8;
  border: none;
  border-radius: 50%;
  padding-inline: 0.7rem;
  height: 70%;
  margin-left: 10px;
}

.submit fa-icon {
  color: #fff;
}

.scrollable::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.scrollable::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.scrollable::-webkit-scrollbar-thumb {
  background: #d7d7d7;
}

/* Handle on hover */
.scrollable::-webkit-scrollbar-thumb:hover {
  background: #989898;
}
