<div class="container">
	<div class="topic">
		<app-topic-block [topic]="topic" [showCommentButton]="false"></app-topic-block>
	</div>

	<div class="comments-container scrollable">
		<app-comment *ngFor="let comment of comments" [comment]="comment" (onUpvote)="onCommentUpvote($event)"
			(onDownvote)="onCommentDownvote($event)"></app-comment>
	</div>
	<div class="input-container">
		<input type="text" placeholder="Enter your comment" [(ngModel)]="comment" class="comment-input">
		<button (click)="addComment()" class="submit"><fa-icon [icon]="faRight"></fa-icon></button>
	</div>