:host {
  border-bottom: 1px solid #e8e8e8;
  padding-block: 0.6rem;
}

.upvotes {
  width: fit-content;
  margin-left: auto;
}

.comment-text {
  margin-left: 0.6rem;
}
.upvotes fa-icon {
  margin-inline: 0.5rem;
  cursor: pointer;
}

.comment-user {
  display: flex;
  padding-inline: 1rem;
  gap: 2rem;
}

.comment-user img {
  height: 50px;
  width: 50px;

  border-radius: 50%;
}

.is-upvoted {
  color: green;
}

.is-downvoted {
  color: red;
}
