footer {
  position: fixed;
  bottom: 0;
  right: 0;
  max-width: 240px;
  margin: 1.25rem 1.25rem;
  gap: 25px;
  display: grid;
  grid-template-columns: auto auto;
}

.column {
  display: flex;
  flex-direction: column;
  color: #939393;
  font-size: 1em;
}

.column a {
  padding: 0;
  margin: 0.3em;
  text-decoration: none;
  color: #939393;
}
